# development
*.sublime-workspace
*.swp
*.swap

# compiled files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache

# virtualenv
.venv
venv

# test
.coverage
*.log
.cache

# packaging
build
dist
.egg-info